@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

div.card-header {
    font-size: large;
}

div.card {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.table {
    margin-top: 16px;
}
